SetEnv PHP_VER 7_0

# Prevent directory listing
Options -Indexes

# CORS
# Basic security headers
<IfModule mod_headers.c>
Header always unset server
Header always set X-Frame-Options "SAMEORIGIN"
Header always set X-Xss-Protection "1; mode=block"
Header always set Access-Control-Allow-Methods: "GET,POST"
Header always set Access-Control-Allow-Origin "*"
</IfModule>
