//
// Theme
//
//

/* TODO finalize
progress {
  width: 100%;
  height: 20px;
  margin: 50px auto;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

progress::progress-bar {
  background: lightgray;
  border-radius: 50px;
  padding: 2px;
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

progress::progress-value {
  border-radius: 50px;
  box-shadow: inset 0 5px 1px 0 rgba(255, 255, 255, 0.4);
  background:
		  linear-gradient(90deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		  linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		  linear-gradient(left, #c40c00, #2fba2f);
}
*/

// Nicer icons with some hover colors
.fa-facebook-square:hover {
  color:darkblue;
}

.fa-twitter-square:hover {
  color:lightblue;
}

.fa-google-plus-square:hover {
  color: #d34836;
}

.red {
  color: red;
}

.infoBox {
  background-color: #f6f3f3;
  -webkit-box-shadow: 6px 6px 25px -5px rgba(0,0,0,0.56);
  -moz-box-shadow: 6px 6px 25px -5px rgba(0,0,0,0.56);
  box-shadow: 6px 6px 25px -5px rgba(0,0,0,0.56);
  padding: 10px;
  border-radius: 20px 0px 20px 0px;
  -moz-border-radius: 20px 0px 20px 0px;
  -webkit-border-radius: 20px 0px 20px 0px;
  border: 1px solid #ff0000;
}
