SetEnv PHP_VER 7_0

# Prevent directory listing
Options -Indexes

# CORS
# Basic security headers
<IfModule mod_headers.c>
Header always unset server
Header always set X-Frame-Options "SAMEORIGIN"
Header always set X-Xss-Protection "1; mode=block"
Header always set X-Content-Type-Options "nosniff"
Header always set Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT,PATCH"
Header always set Access-Control-Allow-Origin "*"
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine On

# Clean URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
# QSA: append query string
# L: last
# RewriteRule reference: http://stackoverflow.com/questions/12155991/using-multiple-rewrite-rules
</IfModule>
